
<link rel="stylesheet" href="/css/community_styles.css">
<script src="/js/community.js"></script>
<h1>
    Community
</h1>

<%= console.log(blogs) %> 

    <% blogs.forEach(element => { %>
        <div class="posts">
            <h2 class="blog-heading">
                <%= element.title %> 
            </h2>
            <h3 class="blog-subheading">
                <%= element.subheading %> 
            </h3>
            <h4 class="blog-details">
                <%= element.author %> , <%= element.updatedAt %>  
            </h4>
            <p class="blog-body hide-content">
                <%= element.body %> 
            </p>
            <span class="show-content"><strong>show more</strong></span>
        </div>
    <% }) %>


