<html>
    <head>
        <title> <%= title %>  </title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@200;300;600;700&family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">
        <%- style %> 

    </head>
    <body>
        <!-- this is callled partial code which is common to all the pages in the website -->
        <%- include("_header") %>


            <!-- the contents of all the pages goes here -->
            <%- body %>


        <%- include("_footer") %>   
    <%- script %> 
    </body>
</html>